*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	color: #555;
	font-family: 'Rajdhani','Arial', 'sans-serif';
	font-weight: 200;
	font-size: 20px;
    text-decoration: none;
}

.linha{
	margin:0 auto 0 auto;
}

.header-nav {
    float: right;
    list-style: none; 
    list-style-type: none;
}

.header-nav ul.active {
	display: block;
}

.header-nav li{
    /*display: inline-block;*/
    margin-left: 40px;
    text-align: center;
    margin: 25px auto;
}

.header-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    margin: 10px;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/mainPic.jpg);
	background-size: cover;
	background-position: center;
	height: 10vh;
    background-attachment: fixed;
}

.hero-text-box {
	margin-right: -20px; 
	background-color: rgb(0,0,0, 0.5);
	position: absolute;
	width: 100%;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
}

main {
	margin-bottom: 5px: 
}

h1 {
	margin-left: 400px;
	margin-bottom: 10px;
	color: gray;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-family: 'Cinzel', serif;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

h2 a {
	text-decoration: none;
	color: #555;
}

h3 {
	margin-bottom: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer; 
    color: #555;
    font-size: 24px;
}

.header-nav li {
    margin: 0;
}

.links {
    margin-left: 40px;
}

.header-nav.active {
	display: flex;
	margin-top: 1%;
	margin-right: 80px;
}

header.active {
	height: 85px;
	color: #555;
	font-size: 100%;
}

.link:hover {
	color: #555;
}

main {
	width: 100%;
	height: 80%;
	margin-bottom: 10px;
}

footer {
	margin-top: 10px;
/*	bottom: 0;*/
	width: 100%;
	color: #555;
    background-color: #999;
    padding: 20px;
    font-size: 80%;
    text-decoration: none;
}

.linha-f {
	width: 100%;
	height: 50%;
}


.footer-nav a, .social a{
	color: #fff;
	text-decoration: none;
}

.footer-nav a:hover, .social a:hover{
	color: #555;
	text-decoration: none;
	text-decoration: underline;
}

.footer-nav li, .social li {
    display: inline-block;
    margin-right: 20px;
}



@media screen and (min-width: 900px) {
	.main {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
		display: inline-block;
	}

	.intro {
		width: 70%;
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
	}

	h1  {
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		color: gray;
		font-size: 190%;
		word-spacing: 4px;
		letter-spacing: 1px;
		text-align: center;
	}


	.pic {

		width: 100%;
		height: 300px;
		text-align: center;
		padding-left: 150px;
		padding-right: 150px;
	/*	width: 90%;
		height: 500px;
		margin: 30px;*/
	}

	.text {
		float: left;
		width: 50%;
		text-align: right;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-left: 150px;
		padding-right: 20px;
	}

	.slick {
		float: right;
		width: 35%;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 10px;
		margin-right: 145px;
	}

	main img {
		width: 100%;
		height: 300px;
	}

    .header-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 25px;
    }

    .header-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: #fff;
    }

    footer-nav {
		width: 40%;
		font-size: 120%;
	/*	margin: 10px;*/
	    list-style: none;
	    float: left;
	    text-align: center;
	}

	.social {
		width: 40%;
		font-size: 120%;
	/*	margin: 10px;*/
	    list-style: none;
	    float: right;
	    text-align: center;
	}

	.direitos {
		/*position: fixed;*/
		left: 0;
		right: 0;
		bottom: 0;
		width: 40%;
		text-align: center;
	}
}


@media screen and (max-width: 900px) {
	.header-nav {
		display: none;
	}

	.main {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
		display: inline-block;
	}

	.intro {
		width: 100%;
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
	}

	h1  {
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: gray;
		font-size: 190%;
		word-spacing: 4px;
		letter-spacing: 1px;
		text-align: center;
	}


	.pic {

		width: 100%;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
	/*	width: 90%;
		height: 500px;
		margin: 30px;*/
	}

	.text {
		width: 100%;
		text-align: right;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.slick {
		width: 80%;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 50px;
	}

	main img {
		width: 100%;
		height: auto;
	}

	.footer-nav {
		width: 100%;
		margin-bottom: 10px;
	/*	margin: 10px;*/
	    list-style: none;
	    float: left;
	    text-align: center;
	}

	.social {
		width: 100%;
	/*	margin: 10px;*/
	    list-style: none;
	    float: right;
	    text-align: center;
	}
	.direitos {
	/*	position: fixed;*/
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
	}

}