*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	color: #555;
	font-family: 'Rajdhani','Arial', 'sans-serif';
	font-weight: 200;
	font-size: 20px;
    text-decoration: none;
}

.linha{
	margin:0 auto 0 auto;
}

.header-nav {
    float: right;
    list-style: none; 
    list-style-type: none;
    display: none;
}

.header-nav ul.active {
	display: block;
}

.header-nav li {
    margin-left: 40px;
    text-align: center;
    margin: 25px auto;
}

.header-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    margin: 10px;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/mainPic.jpg);
	background-size: cover;
	background-position: center;
	height: 10vh;
    background-attachment: fixed;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-family: 'Cinzel', serif;
	float: left;
	margin-top: 20px;
	margin-left: 10px;

}

h2 a {
	text-decoration: none;
	color: #555;
}

h3 {
	margin-bottom: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer; 
    color: #555;
    font-size: 24px;
}

.header-nav li {
    margin: 0;
}

.links {
    margin-left: 40px;
}

.header-nav.active {
	display: flex;
	margin-top: 1%;
	margin-right: 80px;
}

header.active {
	height: 85px;
	color: #555;
	font-size: 100%;
}

.link:hover {
	color: #555;
}

header-nav {
		display: none;
}

.main {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	display: inline-block;
}

main {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
}

.grid {
	width: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.item {
	display: inline-block;
	width: 40%;
	margin: 5px;
	filter: grayscale(70%);
}

.item:hover {
	filter: none;
}

.grid img {
  width: 100%;
  height: auto;
}

/*@media screen and (max-width: 780px) {
	
}*/

@media screen and (min-width: 780px){
	.main {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}

	.header-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 25px;
    }

    .header-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: #fff;
    }

	.grid {
		width: 100%;
		text-align: center;
	}

	.item {
		display: inline-block;
		margin: 5px;
	  	width: 180px;
	  	filter: grayscale(70%);
	  	transition: all .5s ease-out;
		/*width: 100%;
		padding: 40px; 
		display: inline-table;*/
	}

	.item:hover {
		filter: none;
		transform: scale(1.12);
	}

	.grid img {
	  width: 100%;
	  height: auto;
	}
}