*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	color: #555;
	font-family: 'Rajdhani','Arial', 'sans-serif';
	font-weight: 200;
	font-size: 20px;
    text-decoration: none;
}

.linha{
	/*max-width: 1140px;*/
	margin:0 auto 0 auto;
}

.header-nav{
    float: right;
    list-style: none; 
    list-style-type: none;
}

.header-nav ul.active {
	display: block;
}

.header-nav li{
   /* display: inline-block;*/
    margin-left: 40px;
    text-align: center;
    margin: 25px auto;
}

.header-nav li a{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    margin: 10px;
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/mainPic.jpg);
	background-size: cover;
	background-position: center;
	height: 10vh;
    background-attachment: fixed;
}

.hero-text-box{
	margin-right: -20px; 
	background-color: rgb(0,0,0, 0.5);
	position: absolute;
	width: 100%;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
}

main {
	margin-bottom: 5px: 
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-family: 'Cinzel', serif;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

h2 a {
	text-decoration: none;
	color: #555;
}

h3 {
	margin-bottom: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer; 
    color: #555;
    font-size: 24px;
}

.header-nav li {
    margin: 0;
}

.links {
	
    margin-left: 40px;
}

.header-nav.active {
	display: flex;
	margin-top: 1%;
	margin-right: 80px;
}

header.active {
	height: 85px;
	color: #555;
	font-size: 100%;
}

.link:hover {
	color: #555;
}

footer {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	color: #555;
    background-color: #999;
    padding: 20px;
    font-size: 80%;
    text-decoration: none;
}

.linha-f {
	width: 100%;
	height: 50%;
}

.footer-nav a, .social a{
	color: #fff;
	text-decoration: none;
}

.footer-nav a:hover, .social a:hover{
	color: #555;
	text-decoration: none;
	text-decoration: underline;
}

.footer-nav li, .social li {

    display: inline-block;
    margin-right: 20px;
}

@media screen and (max-width: 700px) {
	.header-nav {
		display: none;
	}
	
	h1  {
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: gray;
		font-size: 190%;
		word-spacing: 4px;
		letter-spacing: 1px;
		text-align: center;
	}

	.c1, .c3, .c5, .c7, .c9 {
		text-align: center;
		height: 500px;
		width: 100%;
	}

	.c2, .c4, .c6, .c8, .c10 {
		width: 500px;
		height: 500px;
		margin-right: 100px;
		padding-top: 40px;
		padding-left: 60px;
		text-align: center;
/*		padding-right: 20px;*/
		padding-bottom: 20px;
		text-align: right;
	}

	.footer-nav {
		width: 100%;
		margin-bottom: 10px;
	/*	margin: 10px;*/
	    list-style: none;
	    float: left;
	    text-align: center;
	}

	.social {
		width: 100%;
	/*	margin: 10px;*/
	    list-style: none;
	    float: right;
	    text-align: center;
	}

	.direitos {
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 700px) {
	.header-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 25px;
    }

    .header-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: #fff;
    }

	h1  {
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		color: gray;
		font-size: 190%;
		word-spacing: 4px;
		letter-spacing: 1px;
		text-align: center;
	}

	.a1, .a2, .a3, .a4, .a5 {
		width: 100%;
		height: 500px;
		margin-bottom: 5px;
	}

	.c1, .c5, .c9 {
		margin: 0px;
		text-align: right;
		width: 50%;
		float: left;
	}

	/*.c1 img {
		width: 80%;
		height: 500px;
	}*/

	.c2, .c6, .c10 {
		/*background-color: green;*/
		float: right;
		margin: 0px;
		text-align: right;
		width: 50%;
		height: 500px;
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 220px;
		padding-bottom: 20px;
		
	}

	.c3, .c7 {
		float: right;
		margin: 0px;
		width: 50%;
		height: 500px;
		text-align: left;
		
		
	}

	.c4, .c8 {
		/*background-color: pink;*/
		text-align: left;
		margin: 0px;
		/*text-align: center;*/
		width: 50%;
		float: right;
		padding-left: 220px;
		padding-right: 20px;
		padding-bottom: 20px;
	}

	.footer-nav {
		width: 40%;
		font-size: 120%;
	/*	margin: 10px;*/
	    list-style: none;
	    float: left;
	    text-align: center;
	}

	.social {
		width: 40%;
		font-size: 120%;
	/*	margin: 10px;*/
	    list-style: none;
	    float: right;
	    text-align: center;
	}

	.direitos {
		left: 0;
		right: 0;
		bottom: 0;
		width: 40%;
		text-align: center;
	}

}

